<div class="row">
  <% posts.each do |post| %>
    <div class="col-10 col-md-6 col-lg-4 card card-rounded mx-auto text-center">
      <%= link_to post_path(post) do %>
        <%= image_tag post.get_post_image, size: "220x165", class: "post_image_rounded" %></br>
        <%= post.text.truncate(50) %></br>
        投稿日: <%= post.created_at.strftime("%Y/%m/%d") %></br>
        ジャンル名: <%= post.genre.name %></br>
      <% end %>
      
      <div>
        投稿の感情分析スコア: <%= post.score %></br>
        <span class="mr-2">コメント件数: <%= post.post_comments.count %></span>
        <%= render "public/favorites/favorite", post: post %>
      </div>
      
      <%= link_to user_path(post.user) do %>
        <%= image_tag post.user.get_profile_image(50, 50), class: "rounded-circle" %>
        <%= post.user.name %>
      <% end %>
    </div>
  <% end %>
</div>
