<div class="row">
  <% posts.each do |post| %>
    <div class="col-md-6 mb-1">
      <div class="card card-rounded">
        <div class="row no-gutters">
          <div class="col-md-12">
            <%= link_to(post) do %>
              <%= image_tag post.get_post_image(200, 200), class: "post_image_rounded" %></br>
              <%= post.text %></br>
              投稿日:<%= post.created_at.strftime("%Y/%m/%d") %></br>
            <% end %>

            <%= link_to(post.user) do %>
              <%= image_tag post.user.get_profile_image(50, 50), class: "rounded-circle float-left mr-2" %>
              <div class="d-flex align-self-center"><%= post.user.name %></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
