<div class="row">
  <% posts.each do |post| %>
    <div class="col-10 col-md-6 col-lg-4 card card-rounded mx-auto">
      <%= link_to post_path(post) do %>
        <%= image_tag post.get_post_image(200, 200), class: "post_image_rounded" %></br>
        <%= post.text.truncate(50) %></br>
        投稿日:<%= post.created_at.strftime("%Y/%m/%d") %></br>
      <% end %>
  
      <%= link_to user_path(post.user) do %>
        <%= image_tag post.user.get_profile_image(50, 50), class: "rounded-circle float-left mr-2" %>
        <div class="d-flex align-self-center"><%= post.user.name %></div>
      <% end %>
    </div>
  <% end %>
</div>
