<table class="table">
  <% posts.each do |post| %>
    <tr>
      <td>
        <%= link_to(post.user) do %>
          <%= image_tag post.user.get_profile_image(50, 50) %></br>
          <%= post.user.name %>
        <% end %>
      </td>
      <td>
        <%= link_to(post) do %>
          <%= post.text %></br>
          <%= image_tag post.get_post_image(100, 100) %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
