<div class="container py-4">
  <div class="row">

    <div class="col-md-3">
      <h2 class="text-center mb-3">プロフィール</h2>
      <%= render "public/users/profile", user: current_user %>
    </div>

    <div class="col-md-8 offset-md-1">
      <% if @post.errors.any? %>
        <div class="row d-flex align-self-center justify-content-center">
          <div class="alert alert-secondary mt-1 py-0">
            <h5 class="text-center">
              <%= @post.errors.count %>件のエラーが発生しました。
            </h5>
            
            <div class="row d-flex align-self-center justify-content-center">
              <ul>
                <% @post.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      <% end %>

      <h2 class="text-center mb-3">投稿編集画面</h2>
      <%= form_with model: @post, url: post_path(@post), method: :patch do |f| %>

        <div class="form-group text-center">
          <div class="row justify-content-center">
            <div class="col-md-8 mb-3">
              <%= f.label :text, "撮影した写真の魅力を書いてね！", class: "m-lg-0" %>
            </div>
            <div class="col-md-8 mb-3">
              <%= f.text_area :text, placeholder: "何でも好きなことを書いていいよ～", autofocus: true, class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="form-group text-center">
          <div class="row justify-content-center">
            <div class="col-md-8 mb-3">
              <%= f.label :post_image, "投稿する写真を選んでね！", class: "m-lg-0" %>
            </div>
            <div class="col-md-8 mb-3">
              <%= f.file_field :post_image, accept: "image/*", autofocus: true, class: "form-control-file" %>
            </div>
          </div>
        </div>
        
        <div class="form-group text-center">
          <div class="row justify-content-center">
            <div class="col-md-8 mb-3">
              <%= f.label :genre_id, "ジャンル名" %>
              <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name), { include_blank: '選択してください'}, { class: "form-control", autofocus: true} %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-5 mx-auto py-3">
            <%= f.submit "編集を保存する", class: "btn btn-success btn-block" %>
            <%= link_to "戻る", post_path(@post), class: "btn btn-secondary btn-block" %>
          </div>
        </div>
      <% end %>

    </div>

  </div>
</div>
