<div class="container px-5 px-sm-0 py-4">
  <div class="row">

    <div class="col-md-3">
      <h2 class="text-center mb-3">プロフィール</h2>
      <%= render "public/users/profile", user: current_user %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2 class="text-center mb-3">新規投稿画面</h2>
      <%= form_with model: @post, url: posts_path(@post), method: :post do |f| %>

        <div class="form-group text-center">
          <div class="row justify-content-center">
            <div class="col-md-8 mb-3">
              <%= f.label :text, "撮影した写真の魅力を書いてね！", class: "m-lg-0" %>
            </div>
            <div class="col-md-8 mb-3">
              <%= f.text_area :text, placeholder: "何でも好きなことを書いていいよ～", autofocus: true, class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="form-group text-center">
          <div class="row justify-content-center">
            <div class="col-md-8 mb-3">
              <%= f.label :post_image, "投稿する画像を選んでね！", class: "m-lg-0" %>
            </div>
            <div class="col-md-8 mb-3">
              <%= f.file_field :post_image, accept: "image/*", class: "form-control-file" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-5 mx-auto py-3">
            <%= f.submit "投稿する", class: "btn btn-success btn-block" %>
          </div>
        </div>S
      <% end %>

    </div>
  </div>
</div>
