<div class="container py-4">
  <div class="row">
    <div class="col-12 col-lg-8 mx-auto">

      <h2 class="text-center mb-3">ジャンル編集</h2>
      <%= form_with model: @genre, url: admin_genre_path(@genre), method: :patch do |f| %>

        <div class="form-group">
          <div class="row justify-content-center">
            <div class="col-md-8 mb-3">
              <%= f.label :name, "ジャンル名", class: "m-lg-0" %>
              <%= f.text_field :name, placeholder: "ジャンル名", class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-5 mx-auto py-3">
            <%= f.submit "編集を保存する", class: "btn btn-success btn-block" %>
            <%= link_to "戻る", admin_genres_path(@genres), class: "btn btn-secondary btn-block" %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
