<div class="container py-4">
  <div class="row">

  <div class="col-md-3 mb-5">
    <h2 class="text-center mb-3">プロフィール</h2>
    <%= render "admin/users/profile", user: @user %>
  </div>

  <div class="col-md-8 offset-md-1 mb-3">
    <h2 class="text-center mb-3">投稿詳細</h2>
      
      <div class="row mb-3">
        <div class="col-12">
          <%= @post.text %>
        </div>
      </div>
      
      <div class="row mb-3">
        <div class="col-md-6 d-flex justify-content-center align-self-center">
          <%= image_tag @post.get_post_image(300, 200) %>
        </div>
        
        <div class="col-md-6">
          <div class="mb-2">投稿日: <%= @post.created_at.strftime("%Y/%m/%d") %></div>
          <div class="mb-2">ジャンル名: <%= @post.genre.name %></div>
          <div class="mb-2">コメント件数: <%= @post.post_comments.count %></div>
          <div class="mb-2">
            <i class="fas fa-heart" aria-hidden="true", style="color: blue;"></i><%= @post.favorites.count %> いいね
          </div>
          <div class="col-md-5 mb-2">
            <%= link_to "削除する", admin_post_path(@post), method: :delete, class: "btn btn-danger btn-block" %>
          </div>
        </div>
      </div>
      
      <div class="row mb-3">
        <% @post.post_comments.each do |post_comment| %>
          <div class="col-md-1 align-self-center">
            <%= link_to user_path(post_comment.user) do %>
              <%= image_tag post_comment.user.get_profile_image(50, 50), class: "rounded-circle mb-2" %></br>
            <% end %>
          </div>
          <div class="col-md-9">
            <%= post_comment.comment %></br>
            <div class="text-right">コメント投稿日: <%= post_comment.created_at.strftime('%Y/%m/%d') %></div>
            <div class="text-right"><%= link_to post_comment.user.name, user_path(post_comment.user) %></div>
          </div>
          <div class="col-md-2 d-flex align-self-center mb-2">
            <%= link_to "削除する", post_post_comment_path(post_comment.post, post_comment), method: :delete, class: "btn btn-danger btn-block" %>
          </div>
        <% end %>
      </div>
    </div>
    
  </div>
</div>
