<table class="table-hover table-sm">
  <% users.each do |user| %>
    <tr>
      <td>
        <%= link_to admin_user_path(user) do %>
          <%= image_tag user.get_profile_image(100, 100) %></br>
          <%= user.name %>
        <% end %>
      </td>
      
      <td class="text-break">
        <%= link_to admin_user_path(user) do %>
          <%= user.introduction %>
        <% end %>
      </td>
      
      <td class="td-last">
        <% if user.name != "ゲストユーザー" %>
          フォロー: <%= link_to user.followings.count, admin_user_followings_path(user) %></br>
          フォロワー: <%= link_to user.followers.count, admin_user_followers_path(user) %></br>
        <% end %>
      
        <% if user.is_deleted? %>
          退会済み
        <% else %>
          有効
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
      