<table class="table">
  <%= link_to admin_user_path(user) do %>
    <tr>
      <%= image_tag user.get_profile_image(100, 100) %>
    </tr>
    <tr>
      <th>名前</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>紹介文</th>
      <th><%= user.introduction %></th>
    </tr>
    <tr>
      <th>いいね一覧</th>
      <th><%= link_to user.favorites.count, favorites_admin_user_path(user) %></th>
    </tr>
    <% if user.name != "ゲストユーザー" %>
      <tr>
        <th>フォロー</th>
        <th><%= link_to user.followings.count, admin_user_followings_path(user) %></th>
      </tr>
      <tr>
        <th>フォロワー</th>
        <th><%= link_to user.followers.count, admin_user_followers_path(user) %></th>
      </tr>
    <% end %>
  <% end %>
</table>
