<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">
      <h2>ログイン</h2>

      <table>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <tr class="form-group">
            <td><%= f.label :メールアドレス %></td>
            <td><%= f.email_field :email, placeholder: "sample@example.com", autofocus: true, autocomplete: "email", class: "form-control" %></td>
          </div>

          <tr class="form-group">
            <td><%= f.label :パスワード %></td>
            <td><%= f.password_field :password, autocomplete: "current-password", class: "form-control" %></td>
          </tr>

          <% if devise_mapping.rememberable? %>
            <tr class="form-group">
              <td><%= f.check_box :remember_me %></td>
              <td><%= f.label :remember_me %></td>
            </tr>
          <% end %>

          <tr class="actions">
            <td><%= f.submit "ログイン", class: "btn btn-primary" %></td>
          </tr>
        <% end %>
      </table>

      <%= render "public/shared/links" %>
    </div>
  </div>
</div>
