<table class="table-hover table-sm">
  <tr>
    <td>
      <%= link_to user_path(user) do %>
        <%= image_tag user.get_profile_image(100, 100) %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>名前: <%= user.name %></td>
  </tr>
  <tr>
    <td>紹介文</br><%= user.introduction %></td>
  </tr>
  <tr>
    <td>いいね一覧: <%= link_to user.favorites.count, favorites_user_path(user) %></th>
  </tr>
  <% if user.name != "ゲストユーザー" %>
    <tr>
      <td>フォロー: <%= link_to user.followings.count, user_followings_path(user) %></td>
    </tr>
    <tr>
      <td>フォロワー: <%= link_to user.followers.count, user_followers_path(user) %></td>
    </tr>
  <% end %>
 
  <!-- ユーザーがログインしている場合 -->
  <% if current_user %>
    <!--表示されているユーザーが現在のユーザー自身でない場合-->
    <% if current_user != user %>
      <!--現在のユーザーと表示されているユーザーがともにゲストユーザーでない場合-->
      <% if current_user.name != "ゲストユーザー" && user.name != "ゲストユーザー" %>
        <tr>
          <% if current_user.following?(user) %>
            <td class="td-border-none"><%= link_to "フォロー外す", user_relationships_path(user.id), method: :delete, class: "btn btn-info" %></td>
          <% else %>
            <td class="td-border-none"><%= link_to "フォローする", user_relationships_path(user.id), method: :post, class: "btn btn-success" %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  <% end %>
  
  <% if user == current_user %>
    <% if user.name != "ゲストユーザー" %>
      <tr>
        <td class="td-border-none">
          <%= link_to "プロフィール編集", edit_user_path(user.id), class: "btn btn-secondary" %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td class="td-border-none">
        <%= link_to "投稿", new_post_path, class: "btn btn-success" %>
      </td>
    </tr>
  <% end %>
</table>
