<table class="table">
  <%= link_to user_path(user) do %>
    <tr>
      <%= image_tag user.get_profile_image(100, 100) %>
    </tr>
    <tr>
      <th>名前</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>紹介文</th>
      <th><%= user.introduction %></th>
    </tr>
  <% end %>
</table>

<div class="row">
  <% if ( user == current_user ) || ( user.name != "guestuser" )  %>
    <%= link_to "プロフィール編集", edit_user_path(user.id), class: "btn btn-secondary btn-block" %>
    <%= link_to "投稿する", new_post_path, class: "btn btn-success btn-block" %>
  <% end %>
</div>
