<div class="container py-4">
  <div class="row">

    <% if user_signed_in? %>
      <div class="col-md-3">
        <h2 class="text-center mb-3">プロフィール</h2>
        <%= render "public/users/profile", user: current_user %>
      </div>

      <div class="col-md-8 offset-md-1">
        <h2 class="text-center mb-3">ユーザー一覧</h2>
        <table class="table">
          <% @users.each do |user| %>
            <tr>
              <td>
                <%= link_to user_path(user) do %>
                  <%= image_tag user.get_profile_image(100, 100) %></br>
                  <%= user.name %>
                <% end %>
              </td>
              <td>
                <%= link_to user_path(user) do %>
                  <%= user.introduction %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    
    <% else %>
      <div class="col-12 col-lg-8 mx-auto">
        <h2 class="text-center mb-3">ユーザー一覧</h2>
        <table class="table">
          <% @users.each do |user| %>
            <tr>
              <td>
                <%= link_to user_path(user) do %>
                  <%= image_tag user.get_profile_image(100, 100) %></br>
                  <%= user.name %>
                <% end %>
              </td>
              <td>
                <%= link_to user_path(user) do %>
                  <%= user.introduction %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    <% end %>

  </div>
</div>
