<div class="container px-5 px-sm-0">
  <div class="row">

    <div class="col-md-3">
      <h2 class="text-center mb-3">プロフィール</h2>
      <%= render "public/users/profile", user: current_user %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2 class="text-center mb-3">ユーザー一覧</h2>
      <table class="table">
        <% @users.each do |user| %>
          <tr>
            <td>
              <%= image_tag user.get_profile_image(100, 100) %></br>
              <%= user.name %>
            </td>
            <td><%= user.introduction %></td>
            <td><%= link_to "詳しく", user_path(user.id), class: "btn btn-info" %></td>
          </tr>
        <% end %>
      </table>
    </div>

  </div>
</div>
