<header>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #77A35B;">
    <div class="container">

      <div class="navbar-brand">
        <span>
          <% if user_signed_in? %>
            <%= link_to "散歩が好きな人の交流サイト", posts_path, class: "nav-link text-light logo" %>
          <% elsif admin_signed_in? %>
            <%= link_to "散歩が好きな人の交流サイト", admin_posts_path, class: "nav-link text-light logo" %>
          <% else %>
            <%= link_to "散歩が好きな人の交流サイト", root_path, class: "nav-link text-light logo" %>
          <% end %>
        </span>
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li>
              <%= link_to "マイページ", user_path(current_user), class: "nav-link text-light btn-rounded mr-2" %>
            </li>
            <li>
              <%= link_to "投稿一覧", posts_path, class: "nav-link text-light btn-rounded mr-2" %>
            </li>
            <li>
              <%= link_to "ユーザー一覧", users_path, class: "nav-link text-light btn-rounded mr-2" %>
            </li>
            <li>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link text-light btn-rounded" %>
            </li>

          <% elsif admin_signed_in? %>
            <li>
              <%= link_to "投稿一覧", admin_posts_path, class: "nav-link text-light btn-rounded mr-2" %>
            </li>
            <li>
              <%= link_to "ユーザー一覧", admin_users_path, class: "nav-link text-light btn-rounded mr-2" %>
            </li>
            <li>
              <%= link_to "ジャンル一覧", admin_genres_path, class: "nav-link text-light btn-rounded mr-2" %>
            </li>
            <li>
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link text-light btn-rounded" %>
            </li>

          <% else %>
            <li class="mx-auto">
              <%= link_to "投稿一覧", posts_path, class: "nav-link text-light btn-rounded mr-2" %>
            </li>
            <li class="mx-auto">
              <%= link_to "ユーザー一覧", users_path, class: "nav-link text-light btn-rounded mr-2" %>
            </li>
            <li class="mx-auto">
              <%= link_to "新規会員登録", new_user_registration_path, class: "nav-link text-light btn-rounded mr-2" %>
            </li>
            <li class="mx-auto">
              <%= link_to "ログイン", new_user_session_path, class: "nav-link text-light btn-rounded" %>
            </li>
          <% end %>
        </ul>
      </div>

    </div>
  </nav>
</header>
