<!DOCTYPE html>
<html>
  <head>
    <title>Sanpo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- FontAwesomeの読み込み -->
    <script src="https://kit.fontawesome.com/602ab9b3fd.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    
    <!--フラッシュメッセージ-->
    <!--`flash`ハッシュを呼び出し、キーと値を繰り返し処理する-->
    <% flash.each do |message_type, message| %>
      <div class="row d-flex align-self-center justify-content-center text-center">
        <!--Bootstrapのalertコンポーネントを用いて、フラッシュメッセージを表示する-->
        <div class="alert alert-secondary alert-<%= message_type %> mt-2 py-0">
          <%= message.html_safe %>
        </div>
      </div>
    <% end %>
    
    <!--検索機能-->
    <div class="d-flex justify-content-center mb-2">
      <%= render "public/searches/form" %>
    </div>
    
    <%= yield %>

    <footer class="fixed-bottom">
      <small>&copy; 散歩が好きな人の交流サイト</small>
    </footer>

  </body>
</html>
