<!DOCTYPE html>
<html>
  <head>
    <title>Sanpo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    
    <!--`flash`ハッシュを呼び出し、キーと値を繰り返し処理する-->
    <% flash.each do |message_type, message| %>
      <div class="row d-flex align-self-center justify-content-center text-center">
        <!--Bootstrapのalertコンポーネントを用いて、フラッシュメッセージを表示する-->
        <div class="alert alert-secondary alert-<%= message_type %> mt-5 py-0">
          <%= message.html_safe %>
        </div>
      </div>
    <% end %>
    
    <%= yield %>

    <%= render "layouts/footer" %>
  </body>
</html>
